@media screen and (max-width:760px){
    #main-content {
        display:flex;
        flex-direction: column;
    }

    aside {
        width:100%;
    }

    aside h2 {
        width:100%;
        text-align: center;
    }

    footer nav ul {
        width:33%;
    }

}